
@if(form){
    <form [formGroup]="form" (submit)="this.createJoke()">
        @for(field of fields();track $index){
            <mat-form-field class="example-full-width">
                <mat-label>{{field.name}}</mat-label>

            @switch (field.type) {
                @case ("text") {
                        <input matInput type="text"  formControlName={{field.name}}>
                }
                @case ("select") {
                    <mat-select formControlName={{field.name}}>
                        @for(option of field.options;track $index){
                             <mat-option [value]="option">{{option}}</mat-option>
                            }
                    </mat-select>
                }
                @case ("email") {
                    <input type="text" formControlName={{field.name}}/>
                }
                @case ("radio") {
                    <input type="radio" formControlName={{field.name}}/>
                }
            }
            @if(form.get(field.name)?.invalid && (form.get(field.name)?.touched || form.get(field.name)?.dirty)) {
                <mat-error  *ngIf="form?.get(field.name)?.errors?.['required']">{{field.name}} is required</mat-error>

            }
        </mat-form-field>

        }
        <button mat-flat-button type="submit">Post the joke</button>
    </form>
}
